@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&family=Secular+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: grid;
  grid-template: .5fr 5fr / 1fr;
  background: url('./images/bg.jpg');
  background-size: cover;
}

/********** NavBar **********/
#nav {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  align-items: center;
  border-bottom: .3px solid #999;
}

#nav p {
  font-size: 1.2rem;
  color: #333;
  padding-left: 15px;
}
form {
  display: flex;
  
}
form input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  padding-left: 5px;
  border: none;
}

/********** Content *********/
#content {
  display: grid;
  justify-items: center; 
  align-items: center;
}
#weatherCard {
  width: 42rem;
  outline: 2px solid #fffada;
  display: grid;
  grid-template: 1fr / 2fr 1.5fr;
}

#cardRight {
  width: 100%;
  background-color: #222;
  display: grid;
  grid-template: .8fr 1.3fr / 1fr;
  padding: 10px;

}
#cardRightTop {
  display: grid;
  justify-items: center;
  color: #fffada;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 5px solid #fffada;
  padding: 10px;
}
#cardRightTop img {
  width: 50%;
}
#cardRightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cardRightBottom p {
  padding: 10px 0;
  color: #fffada;
  border-bottom: 1px solid #fffada;
  display: flex;
  justify-content: space-between;
}
#cardRightBottom p:nth-child(5) {
  border: none;
}
#cardLeft {
  display: grid;
  grid-template: .5fr 3fr / 1fr;
}
#cardLeftTop {
  grid-area: 1/1/2/2;
  border-bottom: 1px solid #999;
  font-size: 2rem;
  font-weight: 700;
  color: #fffada;
  display: grid;
  align-items: center;
  padding-left: 10px;

}
#cardLeftBottom {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}
#bottomLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
#bottomLeft p:first-child {
  color: #fffada;
  font-size: 2.5rem;
}
#bottomLeft p:last-child {
  color: #fffada;
  font-size: 1rem;
}
#bottomRight {
  display: grid;
  align-items: flex-end;
  padding: 10px;
  font-size: 4rem;
  color: #fffada;
  font-family: 'Courier New', Courier, monospace;
}
#bottomRight p {
  display: inline-block;
}#bottomRight div {
  display: flex;
  align-items: center;
  justify-content: center;
}